<template>
    <div class="form-floating my-3">
        <input :type="type" class="form-control" :placeholder="label">
        <label for="floatingInput">{{ label }}</label>
    </div>
</template>

<script>
export default {
    name: "Input",
    props: {
        type: String,
        label: String,
    }
}
</script>

<style></style>