<template>
    <img :src="logo" class="navbar_logo" alt="logo image" @click="LogoClickhandler">
</template>

<script>
import {logo} from '@/constants'
export default {
    name: "Logo",
    data() {
        return {
            logo,
        };
    },
    methods: {
        LogoClickhandler() {
            return this.$router.push('/');
        }
    },
}
</script>

<style scoped>
.navbar_logo {
    width: 90px;
    height: 50px;
    cursor: pointer;
}</style>