<template>
    <div class="text-center">
        <Login /> 
    </div>
</template>

<script>
import {Login} from '@/components'
export default {
    components: {
        Login
    }
}
</script>

<style></style>