<template>
    <div class="text-center">
        <Register />
    </div>
</template>

<script>
import {Register} from '@/components'
export default {
    components: {
        Register
    },
}
</script>

<style scoped>
</style>