<template>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <!-- <img :src="logo" class="navbar_logo" alt="logo image" @click="LogoClickhandler"> -->
                <Logo></Logo>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2">Features</a></li>
                <li><a href="#" class="nav-link px-2">Pricing</a></li>
                <li><a href="#" class="nav-link px-2">FAQs</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <RouterLink class="btn btn-outline-primary me-2" :to="{name: 'login'}">Login</RouterLink>
                <RouterLink class="btn btn-primary" :to="{name: 'register'}">Register</RouterLink>
            </div>
        </header>
    </div>
</template>

<script>
import { RouterLink } from 'vue-router';
export default {
    name: 'Navbar',
    components: { RouterLink }
}
</script>

<style></style>