<template>
    <main class="form-signin w-25 mx-auto">
        <form>
            <Logo></Logo>
            <h1 class="h3 mb-3 fw-normal">Please Register</h1>

            <Input :type="'text'" :label="'Full Name'" />
            <Input :type="'email'" :label="'Email address'" />
            <Input :type="'password'" :label="'Password'" />
            <Button type="submit" :disabled="isLoading" @click="submitHandler">Register</Button>
        </form>
    </main>
</template>

<script>
export default {
    methods: {
        submitHandler(e) {
            e.preventDefault();
            this.$store.commit('setLoader')
        }
    },
    computed: {
        isLoading() {
            return this.$store.state.auth.isLoading
        }
    }
}
</script>

<style>
</style>